<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:fragment="head">
  <link href="https://fonts.cdnfonts.com/css/signerica-fat" rel="stylesheet">
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Transactionl - The Future of Personal Finances</title>
  <link rel="stylesheet" href="/css/stylesheet.css"/>
</head>
<body>

<header th:fragment="header">
  <div class="navbar-container"><style>
    @import url('https://fonts.cdnfonts.com/css/bodonisbulemy');
  </style>
  <a href="http://localhost:8080/" >
    <img class="logo" src="/img/logo.png"/>
  </a>
  <ul class="navbar-content">
    <a class="navbar-item" href="/">HOME</a>
    <a sec:authorize="isAnonymous()" class="navbar-item" href="/users/login">LOGIN</a>
    <a sec:authorize="isAuthenticated()" class="navbar-item" href="/users/profile">PROFILE</a>
    <a sec:authorize="isAuthenticated()" class="navbar-item" href="/users/transactions">TRANSACTIONS</a>
    <a sec:authorize="isAuthenticated()" class="navbar-item" href="/users/logout">LOGOUT</a>

  </ul>
    </div>
</header>

<footer th:fragment="footer">
  2022 All rights reserved by Transactionl Ltd.
</footer>

</body>
</html>