<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="/fragments/commons::head">
</head>
<body>
<header th:replace="/fragments/commons::header"></header>

<div class="header-container">

    <img class="header-image" src="/img/img_2.png" />
    <h1 class="motivation-message">One App Countless Possibilities</h1>

    <h1 class="motivation-message2">It's not about having lots of money, it's how you manage it.</h1>

    <div class="banner-holder">
    <img class="learn-more" src="/img/learn-more.png" />
    <img class="upgrade" src="/img/upgrade.png" />
    </div>

    <h1 class="motivation-message2">Start your free journey towards success today.</h1>


</div>

</body>
<footer th:replace="/fragments/commons::footer"></footer>
</html>