<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="/fragments/commons::head">
</head>
<body class="non-home-body">
<div class="layer">
  <header th:replace="/fragments/commons::header"></header>

  <div class="row g-3 align-items-center">
    <form
            th:action="@{/users/register}"
            method="POST"
    th:object="${userRegisterBindingModel}">
      <!--User name-->
      <div>
        <div class="col-auto">
          <label for="inputUsername" class="col-form-label text-light">USERNAME</label>
        </div>
        <div class="col-auto">
          <input type="text"
                 name="username"
                 th:value="*{username}"
                 required minlength="5" maxlength="20"
                 id="inputUsername"
                 class="form-control"
                 aria-describedby="usernameHelpInline">
        </div>
      </div>

      <div>
        <div class="col-auto">
          <label for="inputEmail" class="col-form-label text-light">EMAIL</label>
        </div>
        <div class="col-auto">
          <input type="email" name="email"
                 th:value="*{email}"
                 required minlength="5" maxlength="20"
                 id="inputEmail" class="form-control"
                 aria-describedby="passwordHelpInline">
        </div>
      </div>

      <div th:if="${bad_credentials}" class="alert alert-danger" role="alert">
        This username and password combination does not exist.
      </div>
      <!--EO: User name-->

      <!-- Password -->
      <div>
        <div class="col-auto">
          <label for="inputPassword" class="col-form-label text-light">PASSWORD</label>
        </div>
        <div class="col-auto">
          <input type="password" name="password"
                 th:value="*{password}"
                 required minlength="5" maxlength="20"
                 id="inputPassword" class="form-control"
                 aria-describedby="passwordHelpInline">
        </div>
      </div>

      <div>
        <div class="col-auto">
          <label for="inputPassword" class="col-form-label text-light">CONFIRM PASSWORD</label>
        </div>
        <div class="col-auto">
          <input type="password" name="password"
                 th:value="*{confirmPassword}"
                 required minlength="5" maxlength="20"
                 id="inputPasswordAgain" class="form-control"
                 aria-describedby="passwordHelpInline">
        </div>
      </div>

      <div class="d-flex justify-content-center mt-2">
        <button class="btn btn-primary btn-block w-50" type="submit">Register</button>
      </div>
      <!-- EO: Password -->
    </form>
  </div>



</div>
<footer class="non-home-footer">
  2022 All rights reserved by Transactionl Ltd.
</footer>


</body>
</html>