<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Transactionl - The Future of Personal Finances</title>
    <link rel="stylesheet" href="/css/transactionsstyle.css"/>

</head>
<body>
<div class="layer">

<header th:fragment="header">
<div class="navbar-container"><style>
    @import url('https://fonts.cdnfonts.com/css/bodonisbulemy');
</style>
    <a href="http://localhost:8080/" >
        <img class="logo" src="/img/logo.png"/>
    </a>
    <ul class="navbar-content">
        <a class="navbar-item" href="/">HOME</a>
        <a sec:authorize="isAnonymous()" class="navbar-item" href="/users/login">LOGIN</a>
        <a sec:authorize="isAuthenticated()" class="navbar-item" href="/users/profile">PROFILE</a>
        <a sec:authorize="isAuthenticated()" class="navbar-item" href="/users/transactions">TRANSACTIONS</a>
        <a sec:authorize="isAuthenticated()" class="navbar-item" href="/users/logout">LOGOUT</a>

    </ul>
</div>
<style>
    .logo{
        height: 55px;
        margin-left: 50px;
    }
    .navbar-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        background-color: white;
        color: white;
        height: 100px;
    }

    .navbar-item{
        display: inline;
        margin-right: 30px;
        font-weight: bold;
        font-family: 'BodonisBulemy', sans-serif;
        font-size: 22px;
        color: black;
        text-decoration: none;
        cursor: pointer;

    }

    .navbar-item:hover{
        color: rgb(150,150,150);
        cursor: default;
    }
</style>
</header>
<div class="wrapper rounded">
    <nav class="navbar navbar-expand-lg navbar-dark dark d-lg-flex align-items-lg-start"><a class="navbar-brand"
                                                                                            href="#">Transactions <p
            class="text-muted pl-1">Welcome to your transactions</p></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-lg-auto">
                <li class="nav-item"><a class="nav-link" href="#"><span class="fa fa-bell-o font-weight-bold"></span>
                    <span class="notify">Notifications</span> </a></li>
                <li class="nav-item "><a href="#"><span class="fa fa-search"></span></a> <input type="search"
                                                                                                class="dark"
                                                                                                placeholder="Search">
                </li>
            </ul>
        </div>
    </nav>
    <div class="row mt-2 pt-2">
        <div class="col-md-6" id="income">
            <div class="d-flex justify-content-start align-items-center"><p class="fa fa-long-arrow-down"></p>
                <p class="text mx-3">Income</p>
                <p class="text-white ml-4 money" id="income_amount">$9,758.23</p></div>
        </div>
        <div class="col-md-6">
            <div class="d-flex justify-content-md-end align-items-center">
                <div class="fa fa-long-arrow-up"></div>
                <div class="text mx-3">Expense</div>
                <div class="text-white ml-4 money" id="expense_amount">$961.23</div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center mt-3">

        <button class="btn btn-primary">New Transaction</button>
    </div>
    <div class="table-responsive mt-3">
        <table class="table table-dark table-borderless">
            <thead>
            <tr>
                <th scope="col">Sender</th>
                <th scope="col">Mode</th>
                <th scope="col">Date</th>
                <th scope="col" class="text-right">Amount</th>
            </tr>
            </thead>
            <tbody id="sent-transactions">
            <script>
                const transactionsList = document.getElementById('sent-transactions');
                const receivedTransactionsList = document.getElementById('received-transactions');

                fetch("http://localhost:8080/users/transactions/details").then(response => response.json()).then(
                    data => {

                        const income = document.getElementById('income_amount');
                        const expense = document.getElementById('expense_amount');
                        income.textContent = '$' + data.income;
                        expense.textContent = '$' + data.expense;
                        const transactions = new Set([...data.sentTransactions,...data.receivedTransactions]);
                        const username = data.username;

                        for (let transaction of transactions) {
                            transactionsList.innerHTML+= `<tr id="transaction-info">
                                <td scope="row"><span class="fa fa-briefcase mr-1"></span>${transaction.sender}</td>
                                <td><span class="fa fa-cc-mastercard"></span></td>
                                <td>${transaction.sentOn}</td>
                                <td class="d-flex justify-content-end align-items-center text-right" id="amount">$${transaction.amount}
                                   </td>
                            </tr>`
                            const receiver = transaction.receiver;
                            const amount = document.getElementById('transaction-info');
                            let username = data.username;
                            if (receiver !== username){
                                amount.style.color = 'red';
                            }
                        }})

            </script>

            </tbody>
        </table>
    </div>


    <div class="d-flex justify-content-between align-items-center results"><span class="pl-md-3">Showing<b
            class="text-white"> 1-7 0f 200 </b> trasactions</span>
        <div class="pt-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"> <span
                            aria-hidden="true">&lt;</span> </a></li>
                    <li class="page-item"><a class="page-link" href="#" aria-label="Next"> <span
                            aria-hidden="true">&gt;</span> </a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</div>
</body>

</html>